body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
}


.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    height: fit-content;
    border-radius: 5%;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 5px hsl(215, 19%, 75%);
}

.text{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Outfit';
    text-align: center;
    color: hsl(220, 15%, 55%);
}

.heading{
    font-weight: 700;
    font-family: 'outfit';
    text-align: center;
}

img{
    padding: 15px;
    width: 90%;
    border-radius: 5%;
    align-self: center;
}

@media screen and (max-device-width: 480px)
    and (orientation: portrait) {
    .card{
        width: 75%;
    }
}
